<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>{{ title }}</title>
</head>


<body>
打印单项<br/>
hello : {{ user.name }}<br/>
say : {{ user1.say }}<br/>
{{ book_list.0 }}<br/>

if<br/>
{% if id < 100 %}
    id : {{ id }} <br/>
{% else %}
    id 小于10 <br/>
{% endif %}

for<br/>
{% for book in book_list %}
    book : {{ book }} <br/>
{% endfor %}

K,V<br/>
{% for k,v in user.items %}
    {{ forloop.counter }}.{{ k }} : {{ v }} <br/>
{% endfor %}

</body>

</html>